* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Header Start */

.menue {
    border-bottom: 0.2em solid rgb(224, 250, 247);
    display: flex;
    justify-content: space-between;
}

.menue__uls {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.blog-post__category {
    color: gray;
}

.uls__ul:hover {
    cursor: pointer;
}

.uls__ul {
    list-style-type: none;
}

/* Header End */

.top-story__info {
    color: gray;
}

.top-story__info {
    transform-origin: 20px;
    transform: rotate(90deg);
}
/* main Start */
.top-story {
    margin-left: 3em;
    margin-right: 3em;
}

/* main End */

/* aside Start */
.editors-picked {
    display: flex;
}
/* aside End */
